${CRON_SCHEDULE} root date >/proc/1/fd/1 2>/proc/1/fd/2
${CRON_SCHEDULE} root /usr/bin/imapsync --host1 "${HOST1}" --user1 "${USER1}" --password1 "${PASSWORD1}" "${OTHER1}" --host2 "${HOST2}" --user2 "${USER2}" --password2 "${PASSWORD2}" "${OTHER2}" >/proc/1/fd/1 2>/proc/1/fd/2

# An empty line is required at the end of this file for a valid cron file.
